@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --vermelho: hsl(0, 100%, 15%);
  --vermelhoOpaco: hsl(0, 25%, 40%);
  --vermelhoClaro: hwb(0 10% 60%);
  --vermelhoEscuro: hsl(0, 100%, 10%);
  --branco: hsl(0, 0%, 100%);
  --preto: hsl(0, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--preto);
  padding: 20px;
  text-align: center;
  color: var(--branco);
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  width: 90vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: var(--vermelhoEscuro);
  border-radius: 20px;
}

input {
  flex: 1;
  width: 40vw;
  color: var(--branco);
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: var(--vermelhoClaro);
}

input::placeholder {
  color: var(--branco);
}

.filtros {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

select {
  height: 40px;
  width: 20vw;
  background-color: var(--preto);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

select,
::picker(select) {
  appearance: base-select;
}

select:focus {
  outline: 2px solid var(--vermelhoClaro);
  outline-offset: 2px;
}

option {
  padding: 10px;
  color: var(--branco);
  background-color: var(--vermelhoEscuro);
  transition: all 0.15s ease-in-out;
}

option:hover {
  background-color: var(--vermelho);
}

.lista-produtos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: var(--vermelho);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.card:hover {
  background-color: var(--vermelhoClaro);
  transform: translateY(-5px);
  scale: 1.05;
}

.card:active {
  background-color: var(--vermelhoOpaco);
}

.lista-produtos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}